<ul role="list" class="-mx-2 space-y-1" data-controller="{{ controller }}" data-action="{{ action }}">
    <li>
        <a href="/admin" class="group flex items-center gap-x-3 rounded-md bg-indigo-700 py-2 px-4 text-sm font-semibold leading-6 text-white">
            <i class="fas fa-home-lg-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/admin/users" class="group flex items-center gap-x-3 rounded-md py-2 px-4 text-sm font-semibold leading-6 text-indigo-200 hover:bg-indigo-700 hover:text-white">
            <i class="fas fa-truck"></i>
            <span>Users</span>
        </a>
    </li>
    <li>
        <a href="/admin/contents/list/general" class="group flex items-center gap-x-3 rounded-md py-2 px-4 text-sm font-semibold leading-6 text-indigo-200 hover:bg-indigo-700 hover:text-white">
            <i class="fas fa-truck"></i>
            <span>General Content</span>
        </a>
    </li>
</ul>