<div class="container">
  <header>
    <div class="md:flex md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">{{ page_type | capitalize }} {{ type.tableName | capitalize }}</h2>
      </div>
      <div class="mt-4 flex md:ml-4 md:mt-0">
        <a class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" href="/admin/contents/create/{{ page_type }}">Create {{page_type}}</a>
      </div>
    </div>
  </header>
</div>